<div class="col-md-3">
    <div class="d-none d-md-block">
        <div class="filters">
            <div class="filter-item">
                <h3>Categories</h3>
                <ul class="nav-list">
                    <li>
                        <i class="fa fa-font
                " style="filter: saturate(100%);width: auto;height: auto;font-size: 20;"></i>
                        <a href="/all_products">ALL</a>
                    </li>
                    <li>
                        <i class="fa fa-user-circle
                " style="filter: saturate(100%);width: auto;height: auto;font-size: 20;"></i>
                        <a href="/uniform_products">Uniform</a></li>
                    <li>
                        <i class="fa fa-dropbox
                " style="filter: saturate(100%);width: auto;height: auto;font-size: 20;"></i>
                        <a href="/proware_products">Proware</a></li>
                    <li>
                        <i class="fa fa-book
                " style="filter: saturate(100%);width: auto;height: auto;font-size: 20;"></i>
                        <a href="/book_products">Books</a></li>
                    <hr />
                    <div class="input-group">
                        <input type="text" class="form-control" id="searchBar" placeholder="Search Product">
                        <div class="input-group-append">
                            <button class="btn btn-secondary" id="searchButton" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </div>
    <div class="d-md-none"><a class="btn btn-link d-md-none filter-collapse" data-toggle="collapse" aria-expanded="false" aria-controls="filters" role="button" href="#filters">Filters<i class="icon-arrow-down filter-caret"></i></a>
        <div class="collapse" id="filters">
            <div class="filters">
                <div class="filter-item">
                    <h3>Categories</h3>
                    <ul class="nav-list">
                        <li>
                            <i class="fa fa-font
                " style="filter: saturate(100%);width: auto;height: auto;font-size: 20;"></i>
                            <a href="/all_products">ALL</a></li>
                        <li>
                            <i class="fa fa-user-circle
                " style="filter: saturate(100%);width: auto;height: auto;font-size: 20;"></i>
                            <a href="/uniform_products">Uniform</a></li>
                        <li>
                            <i class="fa fa-dropbox
                " style="filter: saturate(100%);width: auto;height: auto;font-size: 20;"></i>
                            <a href="/proware_products">Proware</a></li>
                        <li>
                            <i class="fa fa-book
                " style="filter: saturate(100%);width: auto;height: auto;font-size: 20;"></i>
                            <a href="/book_products">Books</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>